* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f4f4;
  color: #111;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #e97171;
}
.logo {
  color: #fff;
  font-size: 24px;
}
.navbar nav a {
  text-decoration: none;
  margin-left: 25px;
  color: rgb(255, 252, 252);
  transition: color 0.3s;
}
.navbar nav a:hover {
  color: #4f2b2b;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(../../assets/images/bg-3.avif) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}
.hero-content h1 {
  font-size: 52px;
  margin-bottom: 15px;
}
.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}
.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.btn {
  padding: 15px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.primary {
  background: #e97171;
  /* color: #111; */
  color: white;
}
.primary:hover {
  background: #f3e1e1;
  color: black;
  transform: translateY(-3px);
}

.secondary {
  border: 2px solid #fff;
  color: #fff;
}

.secondary:hover {
  background: #fff;
  color: #111;
}
.gallery {
  padding: 30px 60px;
  text-align: center;
}
.gallery h2 {
  font-size: 36px;
  margin-bottom: 40px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 14px;
  transition: 0.4s;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}
footer {
  background: #e97171;
  color: white;
  text-align: center;
  padding: 20px;
}
/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 16px 5px;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .gallery {
    padding: 50px 30px;
  }
}
