* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #f4f4f4;
  color: #111;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 15px 80px;
}
.logo {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.nav-link ul {
  list-style: none;
  display: flex;
}

.nav-link li {
  margin-left: 30px;
}

.nav-link a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}
.nav-link a:hover {
  color: #04dbf7;
}
.nav-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #04dbf7;
  transition: width 0.3s;
}

.nav-link a:hover::after,
.nav-link a.active::after {
  width: 100%;
}
.nav-link a.active {
  color: #04dbf7;
}
main {
  padding: 60px 80px;
}
#hero {
  background: linear-gradient(135deg, #111, #2b2b2b);
  color: white;
  text-align: center;
  padding: 80px 20px;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#hero h2 {
  font-size: 36px;
  margin: 0px;
}
#hero p {
  font-size: 18px;
  /* max-width: 600px; */
  margin: 0 auto;
}

#hero img {
  border-radius: 50%;
  border: 3px solid #04dbf7;
  width: 150px;
  height: 150px;
}

#hero button {
  padding: 12px 32px;
  border: none;
  background: #04dbf7;
  color: #000;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

#hero button:hover {
  background: white;
}

#skills {
  margin-top: 50px;
}
#skills h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}
#skills article {
  background: white;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

#skills h3 {
  margin-bottom: 10px;
}
#projects {
  margin-top: 50px;
}

#projects h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

#projects figure {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

#projects img {
  /* max-width: 100%; */
  border-radius: 8px;
}

#projects figcaption {
  margin-top: 15px;
  font-weight: bold;
}

footer {
  margin-top: 80px;
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

footer a {
  color: #04dbf7;
  text-decoration: none;
}
